<!DOCTYPE html>
<html>
  <head>
    <title>Taski</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= image_tag("logo.png", width: '150px') %>
    <%= render "shared/nav" %>
    <%= render "shared/alerts" %>
    <%= yield %>
  </body>
</html>
